@font-face {
  font-family: 'Lato-Light';
  font-style: normal;
  font-weight: 300;
  src: url("../../fonts/Lato-Light.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Lato-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Lato-Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Lato-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/Lato-Italic.woff") format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/Lato-BoldItalic.woff") format("woff");
}

@mixin font-menu {
    font-family: Lato, Arial;
    font-size: 1em;
}

html * {
  font-family: Lato;
}

article header {
  h1.entry-title {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    font-family: Lato-Light;
  }
  h1.entry-title a {
  &:link, &:visited, &:hover, &:active {
    color: #000000;
    text-decoration: none;
    font-family: Lato-Light;
  }
  }
  p.meta {
    color: gray;
  }
}

article footer a, .pagination a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    font-family: Lato-Light;
    color: $header-bg;
  }
}

aside {
  h1 {
  font-family: Lato-Bold;
    color: $header-bg;
  }
  ul li a {
  &:link, &:visited, &:hover, &:active {
  text-decoration: none;
  color: $header-bg;
  }
  }
}

.column h1 {
  font-size: 1.7em;
  color: $header-bg;
  clear: both;
}

.column p {
  margin-top: 20px;
  line-height: 1.5;
}

.person_info h1 {
  font-size: 1.7em;
  color: $header-bg;
  clear: both;
}

.person_info h2, .person_contact p{
  font-size: 1.4em;
  font-family: Lato-Light;
  color: #000000;
  clear: both;
}

.person_contact p:last-child {
  margin-top: -8px;
}
