<ul class="main-navigation">
  <li>
    <span>
      <a href="{{ root_url }}/">OFERTA</a>
    </span>
  </li>
  <li>
    <span>
      <a href="{{ root_url }}/blog/archives">AKTUALNOŚCI</a>
    </span>
  </li>
  <li>
    <span>
      <a href="{{ root_url }}/blog/archives">O NAS</a>
    </span>
  </li>
  <li>
    <span>
      <a href="{{ root_url }}/blog/archives">BAZA ARTYKUŁÓW</a>
    </span>
  </li>
  <li>
    <span>
      <a href="{{ root_url }}/blog/archives">KONTAKT</a>
    </span>
  </li>
</ul>
