body > header {
    width: 100%;
    height: 100px;
    @include blue-background;

    #header-content {
        position: relative;
        width: $default_main_width;
        height: 100%;
        margin: 0 auto;
    }

    span.logo {
        width: 230px;
        height: 100px;
        left: 0;
        float: left;
        img {
            border: 0;
        }
    }

}

